---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=48d459afd080c84d37a0b77391fe859d&lat=39.2904&lon=-76.6122&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.2904,"lon":-76.6122,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636525361,"sunrise":1636544683,"sunset":1636581372,"temp":55.13,"feels_like":53.67,"pressure":1017,"humidity":71,"dew_point":45.91,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":3.44,"wind_deg":240,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"minutely":[{"dt":1636525380,"precipitation":0},{"dt":1636525440,"precipitation":0},{"dt":1636525500,"precipitation":0},{"dt":1636525560,"precipitation":0},{"dt":1636525620,"precipitation":0},{"dt":1636525680,"precipitation":0},{"dt":1636525740,"precipitation":0},{"dt":1636525800,"precipitation":0},{"dt":1636525860,"precipitation":0},{"dt":1636525920,"precipitation":0},{"dt":1636525980,"precipitation":0},{"dt":1636526040,"precipitation":0},{"dt":1636526100,"precipitation":0},{"dt":1636526160,"precipitation":0},{"dt":1636526220,"precipitati[...]
