---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=48d459afd080c84d37a0b77391fe859d&lat=39.2904&lon=-76.6122&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.2904,"lon":-76.6122,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1636324606,"sunrise":1636285278,"sunset":1636322342,"temp":50.14,"feels_like":47.68,"pressure":1019,"humidity":60,"dew_point":36.82,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":7.23,"wind_deg":1,"wind_gust":17.16,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1636324620,"precipitation":0},{"dt":1636324680,"precipitation":0},{"dt":1636324740,"precipitation":0},{"dt":1636324800,"precipitation":0},{"dt":1636324860,"precipitation":0},{"dt":1636324920,"precipitation":0},{"dt":1636324980,"precipitation":0},{"dt":1636325040,"precipitation":0},{"dt":1636325100,"precipitation":0},{"dt":1636325160,"precipitation":0},{"dt":1636325220,"precipitation":0},{"dt":1636325280,"precipitation":0},{"dt":1636325340,"precipitation":0},{"dt":1636325400,"precipitation":0},{"dt":1636325460,"precipitati[...]
