---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=m8D4LeIBrdHO43J6djxX7p2aH7WWgCy2&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 01 Dec 2021 21:07:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=m8D4LeIBrdHO43J6djxX7p2aH7WWgCy2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=380960589"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=m8D4LeIBrdHO43J6djxX7p2aH7WWgCy2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=186113661"}]}]}'
  recorded_at: Wed, 01 Dec 2021 21:07:14 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=48d459afd080c84d37a0b77391fe859d&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1638392835,"sunrise":1638367344,"sunset":1638401774,"temp":71.35,"feels_like":69.12,"pressure":1016,"humidity":20,"dew_point":28.69,"uvi":1.33,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":342,"wind_gust":4,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1638392880,"precipitation":0},{"dt":1638392940,"precipitation":0},{"dt":1638393000,"precipitation":0},{"dt":1638393060,"precipitation":0},{"dt":1638393120,"precipitation":0},{"dt":1638393180,"precipitation":0},{"dt":1638393240,"precipitation":0},{"dt":1638393300,"precipitation":0},{"dt":1638393360,"precipitation":0},{"dt":1638393420,"precipitation":0},{"dt":1638393480,"precipitation":0},{"dt":1638393540,"precipitation":0},{"dt":1638393600,"precipitation":0},{"dt":1638393660,"precipitation":0},{"dt":1638393720,"precipitati[...]
