---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=48d459afd080c84d37a0b77391fe859d&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1636237709,"sunrise":1636205676,"sunset":1636242755,"temp":74.95,"feels_like":72.57,"pressure":1011,"humidity":9,"dew_point":14.5,"uvi":1.05,"clouds":3,"visibility":10000,"wind_speed":1.01,"wind_deg":27,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1636237740,"precipitation":0},{"dt":1636237800,"precipitation":0},{"dt":1636237860,"precipitation":0},{"dt":1636237920,"precipitation":0},{"dt":1636237980,"precipitation":0},{"dt":1636238040,"precipitation":0},{"dt":1636238100,"precipitation":0},{"dt":1636238160,"precipitation":0},{"dt":1636238220,"precipitation":0},{"dt":1636238280,"precipitation":0},{"dt":1636238340,"precipitation":0},{"dt":1636238400,"precipitation":0},{"dt":1636238460,"precipitation":0},{"dt":1636238520,"precipitation":0},{"dt":1636238580,"precipitati[...]
