---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=48d459afd080c84d37a0b77391fe859d&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636525362,"sunrise":1636465084,"sunset":1636501777,"temp":43.18,"feels_like":43.18,"pressure":1012,"humidity":68,"dew_point":33.35,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.08,"wind_deg":27,"wind_gust":2.82,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1636525380,"precipitation":0},{"dt":1636525440,"precipitation":0},{"dt":1636525500,"precipitation":0},{"dt":1636525560,"precipitation":0},{"dt":1636525620,"precipitation":0},{"dt":1636525680,"precipitation":0},{"dt":1636525740,"precipitation":0},{"dt":1636525800,"precipitation":0},{"dt":1636525860,"precipitation":0},{"dt":1636525920,"precipitation":0},{"dt":1636525980,"precipitation":0},{"dt":1636526040,"precipitation":0},{"dt":1636526100,"precipitation":0},{"dt":1636526160,"precipitation":0},{"dt":1636526220,"precipitati[...]
