---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=48d459afd080c84d37a0b77391fe859d&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1636522910,"sunrise":1636465084,"sunset":1636501777,"temp":43.66,"feels_like":42.03,"pressure":1013,"humidity":65,"dew_point":32.68,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.47,"wind_deg":4,"wind_gust":5.08,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1636522920,"precipitation":0},{"dt":1636522980,"precipitation":0},{"dt":1636523040,"precipitation":0},{"dt":1636523100,"precipitation":0},{"dt":1636523160,"precipitation":0},{"dt":1636523220,"precipitation":0},{"dt":1636523280,"precipitation":0},{"dt":1636523340,"precipitation":0},{"dt":1636523400,"precipitation":0},{"dt":1636523460,"precipitation":0},{"dt":1636523520,"precipitation":0},{"dt":1636523580,"precipitation":0},{"dt":1636523640,"precipitation":0},{"dt":1636523700,"precipitation":0},{"dt":1636523760,"precipitati[...]
